.section-features {
    position: relative;
    padding-bottom: 24.8rem;

      @include respond(tab-port){
        padding: 10rem 0;
      }
}

.section-about {
  position: relative;
  padding: 27rem 0;
  margin-top: -10vh;
  color: $color-grey-dark-3;

  &__para {
    font-size: 2rem;
    line-height: 3.3rem;
    & ul {
      margin-left: 4rem;
    }
  }
}

.bg {
  /* Set up proportionate scaling */
  width: 100vw;
  height: 100vh;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}
