.info {
    &--shop {
        background-color: #fff;
        margin-bottom: 7rem;
        position: relative;
        height: 20rem;
        min-width: 80rem;
        color: $color-black;
        border-radius: 1rem;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    }

    &--service {
        background-color: #fff;
        margin-bottom: 7rem;
        position: relative;
        height: 20rem;
        min-width: 80rem;
        color: $color-black;
        border-radius: 1rem;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    }

    &__text-container {
        position: relative;
        left: 25rem;
        top: 5rem;
        height: 10rem;
        max-width: 50%;
        bottom: 6.5rem;
        text-align: left;
        text-decoration: none !important;
        

        &--title {
            position: relative;
            font-size: 2.8rem;
            color: $color-secondary-dark;
        
        }

        &--address {
            position: absolute;
            display: inline-block;
            font-size: 2rem;
            line-height: 2.4rem;
            word-wrap: break-word;
            white-space: normal;
        }
    }

    &--image {
        position: absolute;
        left: 5.5rem;
        margin-top: 2.4rem;
    }
}