.footer{
        position: relative;
        bottom: 0;
        height: 27rem;
        background-color: #414141;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
        box-sizing: border-box;
        width: 100%;
        text-align: left;

        &__left {
            display: inline-block;
            width: 50%;
            vertical-align: top;
            padding: 8.5rem 12.3rem;

            &--logo-small {
                width: 9.9rem;
                height: 9.9rem;
            }

            &--logo-big {
                width: 33.8rem;
                height: 5.9rem;
                padding-left: 2.5rem;
            }
        }

        &__right {
            display: inline-block;
            width: 50%;
            padding: 5.2rem 5rem 5.2rem 35rem;
            position: absolute;
            
        }

        &__icon {
            position: relative;
            &:not(:last-child){
                margin-bottom: 2rem;
            }
        
        }

        &__link {
            position: relative;
            text-decoration: none;
            font-size: $default-font-size;
            color: $color-white;
            &:hover,
            &::after {
                text-decoration: none;
                color: $color-white;
            }
        
            
            &--unclickable {
                pointer-events: none;
                cursor: default;
            }

            &--clickable {
                position: relative;
               
                &::before {
                    content: '';
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    width: 100%;
                    height: 2px;
                    background-color: $color-secondary-dark;
                    transform-origin: center;
                    transform: translate(-50%, 0) scaleX(0);
                    transition: transform 0.3s ease-in-out;
                }

                &:hover::before {
                    transform: translate(-50%, 0) scaleX(1);
                }
            }
        }
    }

    

