.navigation {
    list-style-type: none;
    &__link {
        &:link,
        &:visited {
            display: inline-block;
            line-height: 3rem;
            font-size: 2.5rem;
            font-family: 'Noto Serif', serif;
            font-weight: 400;
            padding: 1rem 2rem;
            color: $color-white;
            text-decoration: none;
            transition: all .2s;
    }

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1.5rem);
        }
    }

    &__user {
        color: $color-secondary-dark;
        font-size: 2.5rem;
        font-family: 'Lobster', cursive;
        pointer-events: none;
        cursor: default;

        &--attribute {
           &:visited,
           &:link {
               color: $color-primary;
               margin-left: 2rem;
           }
        }
    }

    &__welcome {
        margin-bottom: 1.5rem;
    }

}
